{# plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{%block title%}
  Picame - Menú
{%endblock%}
{%block body%}

<!-- Content Row -->
<h3 class="mt-4 mb-3">
    Nuestras Picadas

</h3>

<br>
<br>
<!-- /.container -->
{%endblock%}
