{# plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{%block title%}
  Picame - Nosotros
{%endblock%}
{%block body%}
<!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        <small> El sabor en nuestras manos </small>

    </h1>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{{asset('img/picada.jpg')}}" alt="">
      </div>
      <div class="col-lg-6">

        <p>Somos un equipo de expertos compuesto de un grupo familiar, que con el mayor entusiasmo queremos llevarle a donde usted lo desee, nuestros productos de calidad, de la mano de expertos en el área y con el mayor control de calidad para que usted y sus invitados queden satisfechos a la hora de deleitar su paladar con tan exquisitas picadas, solo deseamos que deje de nuestras manos y le sabremos complacer.</p>

      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{%endblock%}
